.header__link{
  display: flex;
  text-align: left;
  font-style: normal;
  box-sizing: border-box;
}

.header__link:nth-last-of-type(1n) {
  padding-top: 3rem;
}

@media screen and (max-width: 320px) {
  .header__link:nth-last-of-type(1n) {
    padding-top: 1.875rem;
  }
}