.intro{
  max-width: 690px;
  margin: 0;
}


@media screen and (min-width: 1281px) {
  .intro:nth-child(1n) {
    margin: 0 auto;
    padding: 0;
  }

}

.intro:nth-child(1n) {
  padding-top: 92px;
  padding-left: 11.5625%;
  padding-right: 11.5625%;
}

@media screen and (max-width: 1024px) {
  .intro:nth-child(1n){
    padding-left: 4.689%;
    padding-right:4.689%;
  }
  
}


@media screen and (max-width: 768px) {
  .intro:nth-child(1n){
    padding-top: 88px;
    padding-left: 3.125%;
    padding-right: 3.125%;
  }  
  }

@media screen and (max-width: 760px) {
  .intro:nth-child(1n) {
    margin: 0 auto;
  }

}
@media screen and (max-width: 320px) {
  .intro:nth-child(1n){
    padding-top: 64px;
    padding-left: 5.78125%;
    padding-right: 5.78125%;
  }

}

