.footer{
  display: flex;
  max-width: 1184px;
  margin: 0 auto;
  justify-content: space-between;
}

.footer:nth-child(1n){
  margin-top: 92px;
  padding-bottom: 24px;
}

@media screen and (max-width:768px) {
  .footer:nth-child(1n) {
    margin-top: 88px;
  }

}

@media screen and (max-width:680px) {
  .footer:nth-child(1n) {
    margin-top: 64px;
  }

}

@media screen and (max-width:680px) {
  .footer{
    flex-direction: column;
    
  }

}